@model PizzaStore.Client.Models.SalesReportViewModel
@{
    ViewData["Title"] = $"Sales Report for {Model.StoreName}";
}

<h2>Sales Report for @Model.StoreName</h2>

<section>
  @using (Html.BeginForm("SalesReport", "Store", FormMethod.Post)) {
    @Html.RadioButtonFor(m => m.Interval, 7)<span> Weekly reports&nbsp;&nbsp;&nbsp;&nbsp;</span>
    @Html.RadioButtonFor(m => m.Interval, 30)<span> Monthly reports</span><br>
    <input type="submit" value="Submit" name="submit">
    <input type="submit" value="Go Back" name="back">
    @Model.ReasonForError
  }

  <table>
    <tr>
      <th>Starting Date</th>
      <th>Pizza</th>
      <th>Quantity</th>
      <th>Sales</th>
    </tr>
    @foreach (DateTime interval in Model.SalesReport.Keys) {
      @for (int i = 0; i < Model.SalesReport[interval].OrderHistory.Count(); i++) {
        <tr>
          @if (i == 0) {
            <td>@interval.ToShortDateString()</td>
          } else {
            <td></td>
          }
          <td>@Model.SalesReport[interval].OrderHistory[i].Pizza</td>
          <td>@Model.SalesReport[interval].OrderHistory[i].Quantity</td>
          <td>@string.Format("${0:0.00}", Model.SalesReport[interval].OrderHistory[i].Cost)</td>
        </tr>
      }
      <tr>
        <td>Total:</td>
        <td></td>
        <td>@Model.SalesReport[interval].IntervalQuantity</td>
        <td>@string.Format("${0:0.00}", @Model.SalesReport[interval].IntervalSales)</td>
      </tr>
    }
  </table>
</section>