@model PizzaStore.Client.Models.OrderViewModel
@{
    ViewData["Title"] = "Order History";
}

<h2>Order History</h2>

<main>
  <table style="width: 100%">
    <tr>
      <th>ID</th>
      <th>Order Created</th>
      <th>Pizzas in Order</th>
      <th>Crust</th>
      <th>Toppings</th>
      <th>Quantity</th>
      <th>Cost of Order</th>
      <th>Store Ordered From</th>
    </tr>
      @foreach (OrderViewClass order in Model.OrderHistory) {
        <tr>
          <td>@order.ID</td>
          <td>@order.Created</td>
          <td>@order.Pizzas</td>
          <td>@order.Crust</td>
          <td>@order.Toppings</td>
          <td>@order.Quantity</td>
          <td>@order.Cost</td>
          <td>@order.StoreName</td>
        </tr>
      }
  </table>
  @using (Html.BeginForm("BackToSelection", "Order", FormMethod.Post)) {
    <input type="submit" value="Go Back">
  }
</main>