@model PizzaStore.Client.Models.OrderViewModel
@{
    ViewData["Title"] = "Order History";
}

<h2>Order History</h2>

<main>
  <table style="width: 100%">
    <tr>
      <th>Order Created</th>
      <th>Pizzas in Order</th>
      <th>Crust</th>
      <th>Quantity</th>
      <th>Cost of Order</th>
      <th>Store Ordered From</th>
    </tr>
      @foreach (int orderID in Model.OrderHistory.Keys) {
        <tr>
          <td>@Model.OrderHistory[orderID].Item1</td>
          <td>@Model.OrderHistory[orderID].Item2</td>
          <td>@Model.OrderHistory[orderID].Item3</td>
          <td>@Model.OrderHistory[orderID].Item4</td>
          <td>@string.Format("${0:N2}", Model.OrderHistory[orderID].Item5)</td>
          <td>@Model.OrderHistory[orderID].Item6</td>
        </tr>
      }
  </table>
  @using (Html.BeginForm("BackToSelection", "Order", FormMethod.Post)) {
    <input type="submit" value="Go Back">
  }
</main>