@model PizzaStore.Client.Models.LogInViewModel
@{
    ViewData["Title"] = "Store Not Found";
}

<h2>@(Model.IsUser ? "User" : "Store") Not Found</h2>

<section>
  <p>A @(@Model.IsUser ? "user" : "store") with an ID of @Model.IDInput was not found. @(Model.IsUser ? "If you would like to create a new user, please enter your name below." : "")</p>
  @if (Model.IsUser) {
    @using (Html.BeginForm("CreateNew", "LogIn", FormMethod.Post)) {
      <span>Name:</span><br>
      @Html.TextBoxFor(model => model.NewName)
      <br><br><input type="submit" value="Submit">
      @Model.ReasonForError
    }
  }
</section>